<?xml version='1.0' encoding='utf-8'?>
<widget id="com.abstractcow.zelenka" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Zelenka</name>
    <description>
        Zelenka - assistant
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="www/Icon.png" />
    <gap:config-file platform="android" parent="/manifest">
    	<application android:theme="@android:style/Theme.NoTitleBar"></application>
	</gap:config-file>
</widget>
