<?xml version='1.1' encoding='utf-8'?>
<widget id="com.ac.zelenka" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Zelenka</name>
    <description>
        Zelenka - assistant
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="www/Logo.png" />
</widget>
